/* Arquivo atualizado: 'src/styles/globals.css'
  Removi a importação de fontes, pois o 'layout.js' agora cuida disso.
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-fundo-branco: #FFFFFF;

  --font-cormorant: 'Cormorant Garamond', serif;
  --font-nunito-sans: 'Nunito Sans', sans-serif;
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  font-family: var(--font-nunito-sans); /* Atualizado para usar variável */
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-cormorant); /* Atualizado para usar variável */
  margin: 0;
}
